<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style.css">
    <title>Document</title>
</head>

<body>

    <div id="my-wrapper">
        <div id="mySidenav" class="sidenav">
            <!-- <h1 id="Contents">Contents:</h1> -->
            <a href="#StreaksOfLife">1 - Stearks Of Life</a><br>
            <a href="#MorningRoutine">2 - Morning Routine</a>
        </div>
        <div class="Content">
            <h1>Creative Procces of Living</h1>
            <section>
                <h2 id="StreaksOfLife"><a href="#Contents">1 - Streaks Of Life</a></h2>
                <ul>
                    <li>Learn To Write a Nice Script</li>
                    <li>Brain Storm Ideas</li>
                    <li>Live A Meaningfull Life style</li>
                    <li>Try Things for 30 Days</li>
                </ul>
            </section>
            <section>
                <h2 id="MorningRoutine"><a href="#Contents">2 - Morning Routine</a></h2>
                <ul>
                    <li>07:30 - Wake Up & Drink Water</li>
                    <li>07:30 - Stretch Body</li>
                    <li>08:00 - Have Cold Shower & Pray Read Quran and hear some nabulsi</li>
                    <li>08:30 - Hot Coffee, 30 min Walk with Podcast</li>
                    <li>09:00 - Work with Chilling Spotify</li>
                </ul>
            </section>


        </div>
    </div>

</body>

</html>
<!-- 
            
        </section>
    </div>




</div>



<style>
    nav {
        width: 10%;
        border-right: 0.5px solid gray;
        float: left;
    }

    body {
        color: white;
        background-color: #011627;
    }

    a {
        color: #2D8D64;
        text-decoration: none;
    }

    h3 {
        color: #FF6362;
    }
</style> -->